.contenedor {
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #484444;
  }
  
  form h1 {
    text-align: center;
    color: #ccc;
    font-size: 80px;
  }
  /*icono*/
  h1 b{
    font-size: 70px;
    color: #0cacf7; 
    margin-right: 10px;

  }

  .cajaUsuario,
  .cajacontrasenia {
    margin: 15px;
    align-items: center;
    width: 290px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 313px;    
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
  }
  .contraseniaOlvidada p{
    text-align: right;
    margin-right: 15px;

  }
  .contraseniaOlvidada a{
    color: rgb(255, 255, 255);
  }
  .resgistrarse p {
    text-align: center;
    margin-right: 15px;
    color: white;
  }
  
  .resgistrarse a {
    color: #2eeeff;
    text-decoration: none;
  }