body {
    background-color: #000; /* Fondo negro */
    color: #bac800; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.cell.X {
    color: #ff0000; /* Rojo para X */
}

.cell.O {
    color: #0000ff; /* Azul para O */
}
.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e8e8e85d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #aadd00;
}

.status {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.reset-button {
    background-color: #96241c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #d32f2f;
}